body,html{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Dancing Script', cursive;
}

.search{
    background-image:url("back.png");
    height: 30vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.bars{
    width: 100%;
    position: absolute;
   top:100px;
}

.submit{
    text-align: center;
}

.cards{
    margin-top: 10px;
}
.card-header{
    background-color: #28a745;
    color: white;
}

